*{
    box-sizing: border-box;
}
body{
    font-family: monospace;
    font-weight: bold;

    background-color: rgb(70, 70, 70);
    height: 100vh;
    margin: 0;

    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;    
    width: 80%;
}

section{
    display: flex;
    align-items: center;
    gap: 20px;

}
.line{
    background: linear-gradient(-45deg, lightblue,lemonchiffon);
    
    
    padding: 5px;
    width: 80%;
    align-self: center;
    border-radius: 10px;
}
section > *{
    color: lightblue;
    background-color: lightblue;
    border: 3px solid;
    border-radius: 50%;
}
/*
.u:hover{
    box-shadow: 0 0 2px #070707;
    background-color: rgb(228, 192, 176);

    filter: invert(100%);
}
*/
.computer-in > *{
    color: lemonchiffon;
    background-color: lemonchiffon;
}
img{
    border-radius: 50%;
    width: 125px;
    /*transform: scale(0.95);*/
}
.computer-in{
    flex-direction: row-reverse;
}
section > div.information{
    border: 0;
    background-color: rgb(70, 70, 70);
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 3.5rem;   
    margin: 0 0 10px;
    padding: 0;
    text-decoration: underline;
}
p{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    
}

.winner-class{
    background-color: lightgreen;
    border-color: lightgreen;
}
.loser-class{
    background-color: lightpink;
    border-color: lightpink;
}
.draw-class{
    background-color: lightgrey;
    border-color: lightgrey;
}

.final-message{
    display: flex;
    margin: 0 0 50px;
}

.winner-message{ 
    margin: 0; 
    text-decoration: none;
    margin-left: auto;
}
.play-again{

    background: linear-gradient(-45deg, lightblue,lemonchiffon);
    margin-left: auto;
    border-color:lightblue;
    border-radius: 10px;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-family: monospace;
}